# Development dependencies
flask==2.0.1                # Web framework
pytest==6.2.4               # Testing framework
black==24.3.0               # Code formatter
mypy==0.910                 # Static type checker
flake8==3.9.2               # Code linting
requests==2.26.0            # HTTP library for making requests
cryptography==3.4.7         # Library for encryption
python-dotenv==0.19.1       # Load environment variables from .env file
